<div class="padre" id="usuariocomponent">
    <div class="container">
        <div class="centrar">
            <h1>Usuario</h1>
        </div>
        <ul class="flex-outer">
            <li>
                <label id = "nombreUsuarioDisplay">Nombre Usuario:{{usuario.nombre}}</label>
            </li>
            <li>
                <label id = "idUsuarioDisplay">UUID:{{usuario.id}}</label>
            </li>
            <li>
                <label id = "fechaCreacionDisplay">Fecha Creacion:{{usuario.fechaCreacion}}</label>
            </li>
            <br>
            <br>
            <li>
                <button type="button" (click)="cerrarCesion()" id="btnCerrarCesion">Cerrar Cesión</button>
            </li>
            <br>
            <li>
                <button type="button" (click)="eliminarUsuario()" id="btnEliminarUsuario">Eliminar Usuario</button>
            </li>
            <br>
            <li>
                <button type="button" (click)="actualizarUsuario()" id="btnActualizarUsuario">Actualizar Usuario</button>
            </li>
        </ul>
    </div>
</div>

