<div class="padre">
  <div class="container">
    <div class="centrar">
        <h1>Log-In</h1>
    </div>
    <form #myform="ngForm" (ngSubmit)="logIn()">
      <ul class="flex-outer">
        <li>
          <label>Nombre:</label>
          <input validar type="text" id="nombreUsuarioLogin" [(ngModel)]="nombre" name="nombre" placeholder="Nombre Usuario"
                  class="form-control" required>
        </li>
        <li>
          <label>Clave Usuario:</label>
          <input validar type="password" id="claveUsuarioLogin" [(ngModel)]="clave" name="clave" placeholder="Clave Usuario"
                  class="form-control" required>
        </li>
        <li>
          <button type="submit" id="btnLogin">Log In</button>
        </li>
        <li>
          <a href="/usuario/crear" id="linkCrearUsuario" routerLink="./usuario/crear">Si no tiene usuario, por favor creelo acá</a>
        </li>
      </ul>
    </form>
  </div>
</div>
